<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i> MAE</a>
    <div class="row" id="nav-search">
      <app-product-search></app-product-search>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="fa fa-home" aria-hidden="true"></i> Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Acerca de
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-envelope" aria-hidden="true"></i> Contacto
          </a>
        </li>
        <ng-container *ngIf="!authService.isAuth(); else isAuthTemplate">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">
              <i class="fa fa-user" aria-hidden="true"></i> Ingresar
            </a>
          </li>
        </ng-container>
        <ng-template #isAuthTemplate>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary text-white" style="border: 1px solid transparent;" id="dropdownUser" ngbDropdownToggle>
              <i class="fa fa-user" aria-hidden="true"></i> {{authService.getUser().email}}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownUser">
              <button class="dropdown-item">Mi Perfil</button>
              <button class="dropdown-item">Mis Compras</button>
              <button class="dropdown-item" (click)="authService.logout()" routerLink="/login">Cerrar Sesión</button>
            </div>
          </div>
        </ng-template>
      </ul>
    </div><!--.collapse navbar-collapse-->
  </div><!--.container-->
</nav>
<!--.navbar-->